<main>
  <section class="info">
    <game-header />
    <div class="imgBox imgBox-info">
      <img src="/astronaut.png" alt="" class='image'>
    </div>
    <p>Created by
      <a class='info-link' href="https://marta-kalwaj.web.app/" target="_blank">Marta Kalwaj</a>
    </p>
    <p> Icons made by
      <a class='info-link' href="https://www.flaticon.com/packs/space-6" target="_blank">Freepik from www.flaticon.com</a>
    </p>
    <div class="imgBox imgBox-info">
      <img src="/ufo.png" alt="" class='image'>
    </div>
  </section>
</main>
