main {
  max-height: 100dvh;
  min-height: 100vh;
  background-color: var(--color-black-semi-transparent);
  padding: 0 1em;
}
.info{
  width: clamp(20em, 80dvw, 37.5em);
  position: fixed;
  height: fit-content;
  inset: 0;
  margin: auto;
  border-radius: 10px;
  padding: 1em;
  letter-spacing: 0.1em;
  overflow-wrap: break-word;
  text-align: center;
}

img {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.info-link{
  text-decoration: none;
  color: var(--color-blue-light);
  transition: color 0.2s ease-in;
}

.info-link:hover{
  color: var(--color-blue);
}
