<main>
  <section class="hud">
    <game-progress />
  </section>
  <div class="board-wrapper border">
    @if (progress.gameStatus() === 'win') {
      <p>You won</p>
    }
    @else if (progress.gameStatus() === 'fail') {
      <p>You lost</p>
    }
    @else {
      <div id="board" class="board">
        @for (card of deck(); track $index) {
          <card [card]="card" [index]="$index" (click)="flipCard(card)" />
        }
        <div
          *ngFor="let card of deck(); index as i"
          id="card{{i}}" class="card"
          (click)="flipCard(card)"
          [style.background-image]=
            "card.isFlipped ? card.faceUrl : card.backUrl"
          [style.visibility]="card.isHidden ? 'hidden' : 'visible'"
        >
        </div>
      </div>
    }
  </div>
  <user-actions />
</main>
