<div class="container">
  <main>
    <section class="hud">
      <game-header />
      <game-progress />
    </section>
    <div class="board-wrapper">
      @if (progress.gameStatus() === 'win') {
        <div class="game-result">
          <img src="/ship.png" alt="ship image">
          <p>Congratulations!</p>
          <p>You broke the alien lines in {{progress.score()}} turns!</p>
          <p>Thanks to you the astronaut is back home!</p>
          <start-game-btn text="Play again" />
        </div>
      }
      @else if (progress.gameStatus() === 'fail') {
        <div class="game-result">
          <img src="/alien-small.png" alt="alien image">
          <p>Oh no! You've crashed escaping the aliens!</p>
          <p>It's a miracle you've survived!</p>
          <start-game-btn text="Try again" />
        </div>
      }
      @else {
        <div id="board" class="board">
          @for (card of deck(); track $index) {
            <card [card]="card" [index]="$index" (click)="flipCard(card)" />
          }
        </div>
      }
    </div>
    <user-actions />
  </main>
</div>
