<div id="board" class="board">
    <div
      *ngFor="let card of deck(); index as i"
      id="card{{i}}" class="card"
      (click)="flipCard(card)"
      [style.background-image]=
        "card.isFlipped ? card.faceUrl : card.backUrl"
      [style.visibility]="card.isHidden ? 'hidden' : 'visible'"
    >
    </div>
</div>
<div>{{progress.score()}}</div>
<div>{{progress.turnCount()}}</div>
<div *ngIf="progress.hasBonusTurn()">Bonus turn!</div>
<button (click)="restartGame()">Restart</button>
<div>{{progress.gameStatus()}}</div>
