header {
  max-width: fit-content;
  margin: 1em auto;
}

h1 {
  text-align: center;
  text-shadow: 0 -1px 40px var(--color-blue-light);

  @media screen and (min-width: 26.625em) {
    font-size: 2em;
  }

  @media screen and (min-width: 64.0625em) {
    font-size: 2.5em;
  }

  & a {
    color: white;
    text-decoration: none;

    &:visited {
      color: white;
    }
  }
}
